{
        "Resources": {
                "AWSEBV2LoadBalancer": {
                        "Type": "AWS::ElasticLoadBalancingV2::LoadBalancer",
                        "Properties": {
                                "IpAddressType": "dualstack",
                                        "Subnets": ["subnet-46f8192d","subnet-e4792ca8"]
                        }
                }
        }
}